/* body{
    background-color: #0A09AB;
    color: #ffff;
} */
.coin-container .content{
    max-width: 900px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    /* background-color: #0A09AB; */
    box-shadow: 0px 0px 12px #d0d0ec;
    border-radius: 8px;
    
}
.rank{
    margin: .5 0;
}
.rank-btn{
    border: 1px solid #38c172;
    box-shadow:  0px 0px 8px #38c172;
    background-color: #38c172;
    border-radius: 8px;
    padding: .2rem;
    color: #ffff;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

 .coin-heading{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

/* .info .coin-price{

} */

.info p {
    padding-right: 1rem;
}

table{
    margin: .5rem 0;
}
td, th {
    padding: 8px;
    text-align: center;
}
th{
    background-color: #38c172;
    color: #ffff; 
}
.stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}
.stat .row {
    display: flex;
    justify-content: space-between;
    border-bottom: ipx solid #38c172;
}
.stat .row p:first-child{
    color: #38c172;
}
.about h3{
    margin: 1rem 0;
}

@media (max-width:1010px){
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }
    .stat{
        grid-template-columns: 1fr;
    }
    td, th {
        padding: 3px;
    }
}